.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  width: 30vmin;
  pointer-events: none;
  z-index: +3;
  padding: 6rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lightcoral;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav Bar Component: */

#navbar {
  background-color: #98bfad;
  opacity: 75%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  z-index: 3;
  font-size: 20px;
}

#home-links {
  position: absolute;
}

#home-nav {
  display: flex;
  align-items: center;
  flex-basis: 250px;
  padding-left: 20px;
}

#navbar a:active {
  font-size: 41px;
}

#navbar a:hover {
  color: lightcoral;
}

#nav {
  display: flex;
  flex-basis: 250px;
  justify-content: space-around;
  align-items: center;
}

.question {
  border-image-source: url(friendsDoorFrame.png);
  border-radius: 5rem;
}
